@font-face {
    font-family: "iconfont"; /* Project id 3908903 */
    src: url("iconfont.woff2?t=1677071670789") format("woff2"),
        url("iconfont.woff?t=1677071670789") format("woff"),
        url("iconfont.ttf?t=1677071670789") format("truetype");
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-star-full:before {
    content: "\e9a1";
}

.icon-star:before {
    content: "\e9a2";
}

.icon-star-half:before {
    content: "\e9a3";
}

.icon-biyan:before {
    content: "\e72e";
}

.icon-chakan:before {
    content: "\e600";
}

.icon-qingchu:before {
    content: "\e7e9";
}
