/dist/*
.local
.output.js
/node_modules/**
auto-imports.d.ts
components.d.ts
**/*.svg
**/*.sh

/public/*
commitlint.config.js
package.json
pnpm-lock.yaml
vue.js
_metadata.json
/docs/*
pnpm-workspace.yaml
vite.config.ts
tsconfig.json
env.d.ts
.eslintrc.json
.vscode\settings.json