.ml-button__btn {
    position: relative;
    overflow: visible;
}

.is-disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

.is-round {
    border-radius: 10px;
}

.ml-button__wrapper {
    border-radius: inherit;
    position: relative;
    z-index: 1;
    font-size: 14px;
    text-align: center;
    display: block;
    text-decoration: none;
    overflow: hidden;
}
.ml-button__wrapper::after,
.ml-button__wrapper::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    transition: 0.3s;
    z-index: -1;
    opacity: 0.5;
}
.ml-button__wrapper::after {
    opacity: 1;
    transition-delay: 0.15s;
}
.ml-button__wrapper:hover {
    color: #fff;
}
.ml-button__wrapper:hover::after,
.ml-button__wrapper:hover::before {
    top: 0px !important;
}
.ml-button__wrapper:is(.ml-button--text):not(:disabled) {
    border: 3px solid transparent;
    color: black;
    background-color: transparent;
}
.ml-button__wrapper:is(.ml-button--text):not(:disabled):hover {
    color: rgba(0, 0, 0, 0.88);
    background-color: rgba(0, 0, 0, 0.06);
    transition: color, background-color 0.3s linear;
}

.ml-button--large {
    padding: 11px 17px;
}

.ml-button--medium {
    padding: 7px 13px;
}

.ml-button--small {
    padding: 3px 9px;
}

.ml-button__wave {
    position: absolute;
    inset: 0px;
    border-radius: inherit;
    animation-iteration-count: 1;
    animation-duration: 0.6s;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1), cubic-bezier(0, 0, 0.2, 1);
}

.ml-button--primary:not(.is-fall) {
    color: #fff;
    background-color: #409eff;
    border: 2px solid #409eff;
}
.ml-button--primary:not(.is-fall)::after,
.ml-button--primary:not(.is-fall)::before {
    background-color: transparent;
}

.ml-button--primary {
    border: 2px solid #409eff;
}
.ml-button--primary::after,
.ml-button--primary::before {
    color: #409eff;
    background-color: #409eff;
}

.is-primary-wave-active {
    animation-name: primary-button-wave, primary-button-wave-opacity;
}

@keyframes primary-button-wave {
    from {
        box-shadow: 0 0 0.5px 0 #409eff;
    }
    to {
        box-shadow: 0 0 0.5px 4.5px #409eff;
    }
}
@keyframes primary-button-wave-opacity {
    from {
        opacity: #409eff;
    }
    to {
        opacity: 0;
    }
}
.ml-button--danger:not(.is-fall) {
    color: #fff;
    background-color: #ff7875;
    border: 2px solid #ff7875;
}
.ml-button--danger:not(.is-fall)::after,
.ml-button--danger:not(.is-fall)::before {
    background-color: transparent;
}

.ml-button--danger {
    border: 2px solid #ff7875;
}
.ml-button--danger::after,
.ml-button--danger::before {
    color: #ff7875;
    background-color: #ff7875;
}

.is-danger-wave-active {
    animation-name: danger-button-wave, danger-button-wave-opacity;
}

@keyframes danger-button-wave {
    from {
        box-shadow: 0 0 0.5px 0 #ff7875;
    }
    to {
        box-shadow: 0 0 0.5px 4.5px #ff7875;
    }
}
@keyframes danger-button-wave-opacity {
    from {
        opacity: #ff7875;
    }
    to {
        opacity: 0;
    }
}
.ml-button--info:not(.is-fall) {
    color: #fff;
    background-color: #909399;
    border: 2px solid #909399;
}
.ml-button--info:not(.is-fall)::after,
.ml-button--info:not(.is-fall)::before {
    background-color: transparent;
}

.ml-button--info {
    border: 2px solid #909399;
}
.ml-button--info::after,
.ml-button--info::before {
    color: #909399;
    background-color: #909399;
}

.is-info-wave-active {
    animation-name: info-button-wave, info-button-wave-opacity;
}

@keyframes info-button-wave {
    from {
        box-shadow: 0 0 0.5px 0 #909399;
    }
    to {
        box-shadow: 0 0 0.5px 4.5px #909399;
    }
}
@keyframes info-button-wave-opacity {
    from {
        opacity: #909399;
    }
    to {
        opacity: 0;
    }
}
.ml-button--warning:not(.is-fall) {
    color: #fff;
    background-color: #e6a23c;
    border: 2px solid #e6a23c;
}
.ml-button--warning:not(.is-fall)::after,
.ml-button--warning:not(.is-fall)::before {
    background-color: transparent;
}

.ml-button--warning {
    border: 2px solid #e6a23c;
}
.ml-button--warning::after,
.ml-button--warning::before {
    color: #e6a23c;
    background-color: #e6a23c;
}

.is-warning-wave-active {
    animation-name: warning-button-wave, warning-button-wave-opacity;
}

@keyframes warning-button-wave {
    from {
        box-shadow: 0 0 0.5px 0 #e6a23c;
    }
    to {
        box-shadow: 0 0 0.5px 4.5px #e6a23c;
    }
}
@keyframes warning-button-wave-opacity {
    from {
        opacity: #e6a23c;
    }
    to {
        opacity: 0;
    }
}
.ml-button--success:not(.is-fall) {
    color: #fff;
    background-color: #67c23a;
    border: 2px solid #67c23a;
}
.ml-button--success:not(.is-fall)::after,
.ml-button--success:not(.is-fall)::before {
    background-color: transparent;
}

.ml-button--success {
    border: 2px solid #67c23a;
}
.ml-button--success::after,
.ml-button--success::before {
    color: #67c23a;
    background-color: #67c23a;
}

.is-success-wave-active {
    animation-name: success-button-wave, success-button-wave-opacity;
}

@keyframes success-button-wave {
    from {
        box-shadow: 0 0 0.5px 0 #67c23a;
    }
    to {
        box-shadow: 0 0 0.5px 4.5px #67c23a;
    }
}
@keyframes success-button-wave-opacity {
    from {
        opacity: #67c23a;
    }
    to {
        opacity: 0;
    }
}
.ml-button--default:not(.is-fall) {
    color: #606266;
    background-color: #f4f4f5;
    border: 2px solid #f4f4f5;
}
.ml-button--default:not(.is-fall)::after,
.ml-button--default:not(.is-fall)::before {
    background-color: transparent;
}

.ml-button--default {
    border: 2px solid #f4f4f5;
}
.ml-button--default::after,
.ml-button--default::before {
    color: black;
    background-color: #606266;
}

.is-default-wave-active {
    animation-name: default-button-wave, default-button-wave-opacity;
}

@keyframes default-button-wave {
    from {
        box-shadow: 0 0 0.5px 0 #f4f4f5;
    }
    to {
        box-shadow: 0 0 0.5px 4.5px #f4f4f5;
    }
}
@keyframes default-button-wave-opacity {
    from {
        opacity: #f4f4f5;
    }
    to {
        opacity: 0;
    }
} /*# sourceMappingURL=button.css.map */
