@use "sass:map";

@use "./mixin/config.scss" as *;
@use "./common/var.scss" as *;

$input-height: 30px;
$input-width: 30px;

$input-radius: (
    "circle": 100%,
    "round": 20px,
    "base": 4px,
    "small": 2px,
);

.#{$namespace}-input#{$element-separator}inner {
    position: relative;
    width: 100%;
    height: $input-height;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    padding: 1px 11px;
    background-image: none;
    transform: translateZ(0);
    border: 1px solid map-get($borderColor, "light");
    border-radius: map-get($input-radius, "base");
    box-shadow: 0 0 0 0.5px map-get($borderColor, "light") inset;
    transition: all 0.1s linear;
    &:hover {
        border: 1px solid map-get($borderColor, "darker");
    }
    &:focus {
        border: 1px solid map-get(map-get($types, "primary"), "bgColor");
    }
}

.#{$namespace}-input#{$element-separator}wrapper {
    border-radius: map-get($input-radius, "base");
}

.#{$namespace}-input {
    input::placeholder {
        color: map-get($borderColor, "most-d");
    }
}

// input禁用
.is-disabled .ml-input__inner {
    background-color: map-get($borderColor, "lighter");
    cursor: not-allowed;
}

.is-exceed .ml-input__inner {
    background-color: map-get($borderColor, "lighter");
    cursor: not-allowed;
}

.#{$namespace}-input#{$element-separator}suffix {
    position: absolute;
    line-height: $input-height;
    right: 8px;
    cursor: pointer;
    .#{$namespace}-input#{$element-separator}icon {
        font-size: 18px;
    }
    .icon-biyan {
        font-size: 24px;
        margin-right: -1.5px;
    }
    .#{$namespace}-input#{$element-separator}count-inner {
        cursor: default;
        font-size: 12px;
    }
}
// 切换密码展示
