@use "sass:map";

@use "mixins/config.scss" as *;
@use "mixins/mixins.scss" as *;
@use "common/var.scss" as *;
@use "mixins/function.scss" as *;

$input-height: 30px;
$input-width: 30px;

$input-radius: (
    "circle": 100%,
    "round": 20px,
    "base": 4px,
    "small": 2px,
);

@include b(input) {
    input::placeholder {
        color: getCssVar("border-color", "very-dark");
    }
    @include e(inner) {
        position: relative;
        width: 100%;
        height: $input-height;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        padding: 1px 11px;
        background-image: none;
        transform: translateZ(0);
        border: 1px solid getCssVar("border-color", "darker");
        border-radius: getCssVar("border-radius", "base");
        box-shadow: 0 0 0 0.5px getCssVar("border-color", "light") inset;
        transition: all 0.1s linear;
        &:hover {
            border: 1px solid getCssVar("border-color", "very-dark");
        }
        &:focus {
            border: 1px solid getCssVar("type-primary", "bgColor");
        }
    }

    @include e(wrapper) {
        border-radius: getCssVar("border-radius", "base");
    }

    @include e(suffix) {
        position: absolute;
        line-height: $input-height;
        right: 8px;
        cursor: pointer;
        @include e(icon) {
            font-size: 18px;
        }
        @include e(count-inner) {
            cursor: default;
            font-size: 12px;
        }
        .icon-biyan {
            font-size: 24px;
            margin-right: -1.5px;
        }
    }

    // input禁用
    @include when(disabled) {
        @include e(inner) {
            background-color: getCssVar("border-color", "light");
            cursor: not-allowed;
            &:hover {
                border: 1px solid getCssVar("border-color", "darker");
            }
        }
    }
}
