@charset "UTF-8";
:root {
    --ml-font-size-extra-large: 20px;
    --ml-font-size-large: 18px;
    --ml-font-size-medium: 16px;
    --ml-font-size-base: 14px;
    --ml-font-size-small: 13px;
    --ml-font-size-extra-small: 12px;
    --ml-font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
        "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    --ml-bg-color: #ffffff;
    --ml-bg-color-page: #f2f3f5;
    --ml-bg-color-overlay: #ffffff;
    --ml-text-color-primary: #303133;
    --ml-text-color-regular: #606266;
    --ml-text-color-secondary: #909399;
    --ml-text-color-placeholder: #a8abb2;
    --ml-text-color-disabled: #c0c4cc;
    --ml-border-color: #dcdfe6;
    --ml-border-color-light: #e4e7ed;
    --ml-border-color-lighter: #ebeef5;
    --ml-border-color-extra-light: #f2f6fc;
    --ml-border-color-dark: #d4d7de;
    --ml-border-color-darker: #cdd0d6;
    --ml-border-color-very-dark: #929395;
    --ml-fill-color: #f0f2f5;
    --ml-fill-color-light: #f5f7fa;
    --ml-fill-color-lighter: #fafafa;
    --ml-fill-color-extra-light: #fafcff;
    --ml-fill-color-dark: #ebedf0;
    --ml-fill-color-darker: #e6e8eb;
    --ml-fill-color-blank: #ffffff;
    --ml-index-normal: 1;
    --ml-index-top: 1000;
    --ml-index-popper: 2000;
    --ml-border-radius-base: 4px;
    --ml-border-radius-small: 2px;
    --ml-border-radius-round: 20px;
    --ml-border-radius-circle: 100%;
    --ml-transition-duration: 0.3s;
    --ml-transition-duration-fast: 0.2s;
    --ml-transition-function-ease-in-out-bezier: cubic-bezier(0.645, 0.045, 0.355, 1);
    --ml-transition-function-fast-bezier: cubic-bezier(0.23, 1, 0.32, 1);
    --ml-transition-all: all var(--ml-transition-duration)
        var(--ml-transition-function-ease-in-out-bezier);
    --ml-transition-fade: opacity var(--ml-transition-duration)
        var(--ml-transition-function-fast-bezier);
    --ml-transition-md-fade: transform var(--ml-transition-duration)
            var(--ml-transition-function-fast-bezier),
        opacity var(--ml-transition-duration) var(--ml-transition-function-fast-bezier);
    --ml-transition-fade-linear: opacity var(--ml-transition-duration-fast) linear;
    --ml-transition-border: border-color var(--ml-transition-duration-fast)
        var(--ml-transition-function-ease-in-out-bezier);
    --ml-transition-box-shadow: box-shadow var(--ml-transition-duration-fast)
        var(--ml-transition-function-ease-in-out-bezier);
    --ml-transition-color: color var(--ml-transition-duration-fast)
        var(--ml-transition-function-ease-in-out-bezier);
    --ml-component-size-large: 40px;
    --ml-component-size: 32px;
    --ml-component-size-small: 24px;
    --ml-type-primary-color: #fff;
    --ml-type-primary-bgColor: #409eff;
    --ml-type-danger-color: #fff;
    --ml-type-danger-bgColor: #ff7875;
    --ml-type-info-color: #fff;
    --ml-type-info-bgColor: #909399;
    --ml-type-warning-color: #fff;
    --ml-type-warning-bgColor: #e6a23c;
    --ml-type-success-color: #fff;
    --ml-type-success-bgColor: #67c23a;
    --ml-type-default-color: #606266;
    --ml-type-default-bgColor: #fff;
}

.ml-rate {
    --ml-rate-height: 20px;
    --ml-rate-font-size: var(--ml-font-size-base);
    --ml-rate-icon-size: 18px;
    --ml-rate-icon-margin: 6px;
    --ml-rate-void-color: var(--ml-border-color-darker);
    --ml-rate-fill-color: #f7ba2a;
    --ml-rate-disabled-void-color: var(--ml-fill-color);
    --ml-rate-text-color: var(--ml-text-color-primary);
}

.ml-rate {
    display: inline-flex;
    align-items: center;
    height: var(--ml-rate-height);
}
.ml-rate__item {
    display: inline-block;
    color: var(--ml-rate-void-color);
    cursor: pointer;
    margin-right: 3px;
}

.ml-rate__icon svg {
    transition: var(--ml-transition-duration-fast);
}
.ml-rate__icon:hover svg {
    transform: scale(1.2);
}
.ml-rate__icon.is-active {
    color: var(--ml-rate-fill-color);
} /*# sourceMappingURL=rate.css.map */
