@use "sass:map";
@use "var";
@use "common/var" as *;
@use "mixins/mixins" as *;
@use "mixins/var" as *;
@use "mixins/function" as *;

// 合并默认尺寸
$rateHeight: () !default;
$rateHeight: map-merge(
    (
        "large": 40px,
        "default": 32px,
        "small": 24px,
    ),
    $rateHeight
);

$rate-size: () !default;
$rate-size: ("large", "medium", "small");

// 设置rate的组件css变量
@include b(rate) {
    @include set-component-css-var("rate", $rate);
}

@include b(rate) {
    display: inline-flex;
    align-items: center;
    height: getCssVar("rate", "height");
    line-height: getCssVar("rate", "height");
    @include e(item) {
        display: inline-block;
        height: inherit;
        color: getCssVar("rate", "void-color");
        margin-right: getCssVar("rate", "icon-margin");
        cursor: pointer;
    }
    @include e(icon) {
        font-size: getCssVar("rate", "icon-size");
        svg {
            transition: getCssVar("transition-duration", "fast");
        }
        &:hover svg {
            transform: scale(1.2);
        }
        @include when(active) {
            color: getCssVar("rate", "fill-color");
        }
    }
    @include e(score) {
        font-size: getCssVar("rate", "font-size");
    }
    @include when(disabled) {
        & {
            @include e(icon) {
                &:hover svg {
                    transform: none;
                }
            }
        }
    }
    @each $size in $rate-size {
        @include m($size) {
            @include set-css-var-value(
                ("rate", "icon", "margin"),
                getCssVar("rate", "margin", $size)
            );
            @include set-css-var-value(("rate", "icon", "size"), getCssVar("rate", "size", $size));
        }
    }
}
