@use "sass:map";
@use "var";
@use "common/var" as *;
@use "mixins/mixins" as *;
@use "mixins/var" as *;
@use "mixins/function" as *;

// 合并默认尺寸
$rateHeight: () !default;
$rateHeight: map-merge(
    (
        "large": 40px,
        "default": 32px,
        "small": 24px,
    ),
    $rateHeight
);

// 设置rate的组件css变量
@include b(rate) {
    @include set-component-css-var("rate", $rate);
}

@include b(rate) {
    color: getCssVar("rate", "fill-color");
}
