@use "mixins/mixins" as *;

body {
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei",
        "微软雅黑", Arial, sans-serif;
    font-weight: 400;
    font-size: getCssVar("font-size", "base");
    color: getCssVar("text-color", "primary");
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
}

li {
    list-style: none;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
