//颜色相关
$types: (
    "primary": (
        "color": #fff,
        "bgColor": #409eff,
    ),
    "danger": (
        "color": #fff,
        "bgColor": #ff7875,
    ),
    "info": (
        "color": #fff,
        "bgColor": #909399,
    ),
    "warning": (
        "color": #fff,
        "bgColor": #e6a23c,
    ),
    "success": (
        "color": #fff,
        "bgColor": #67c23a,
    ),
    "default": (
        "color": #606266,
        "background": #fff,
    ),
);
$btnSize: (
    "large": (
        "padding": 11px 17px,
    ),
    "medium": (
        "padding": 7px 13px,
    ),
    "small": (
        "padding": 3px 9px,
    ),
);

// 基础颜色
$borderColor: (
    "base": #dcdfe6,
    "light": #e4e7ed,
    "lighter": #eceef3,
    "dark": #d4d7de,
    "darker": #c0c2c8,
    "most-d": #a8aab0,
);

$fontSize: (
    "large": 18px,
    "medium": 16px,
    "base": 14px,
    "small": 13px,
);
